{{yield}}

<div class="jumbotron">

  <span class="question-title">{{question.title}}</span>
  <br>
  <span class="author-name">asked by {{question.author}}</span>
  <br>
  <span class="question-content">{{question.content}}</span>
  <hr>
</div>
