body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.logo {
  padding: 20px 0 20px 0;
}

#title {
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: -10px;
}

.jumbotron {

}

.question-title {
  font-size: 150%;
}

a {
  color: #e13131;
}

a:hover {
  text-decoration: none;
  color: #000;
}

/* navbar */
.navbar-primary .navbar { background:#000; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #fff;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #e13131;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #e13131;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

/*.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #FF704D;}*/
